<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../layui/css/layui.css" rel="stylesheet"/>
</head>
<body>
<div class="layui-container">
    <div style="height: 30%">

    </div>
    <div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset4"
             style="text-align: center;padding-top: 80px;">
            <div style="border: solid silver;">
                <form class="layui-form layui-form-pane" action="" style="margin: 15px;">
                    <div class="layui-form-item">
                        <input type="text" name="title" required lay-verify="required" placeholder="用户名"
                               autocomplete="off" class="layui-input"/>
                    </div>
                    <div class="layui-form-item">
                        <input type="password" name="title" required lay-verify="required" placeholder="密码"
                               autocomplete="off" class="layui-input"/>
                    </div>
                    <input type="submit" class="layui-input" value="登录"/>

                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>